* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif; /* Magical font */
  }
  
  /* App Background and Layout */
  .app {
     background-image: url("./night.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    min-height: 100vh;
    padding-top: 50px;
  }
  .header h1 {
    font-size: 3em;
    margin-bottom: 0.3em;
    color: #fff; /* Golden text for magical feel */
  }
  
  .header p {
    font-size: 1.2em;
    color: #f0e68c;
    margin-bottom: 1.5em;
  }
  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent dark overlay */
    border-radius: 25px;
    padding: 10px 15px;
    width: 60%;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .search-bar input {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 1em;
    width: 80%;
    outline: none;
    padding-left: 10px;
  }
  
  .search-bar button {
    font-size: 1em; /* Responsive font size */
    color: #ffffff;
    background: linear-gradient(45deg,#9108a3, #4b9cff);
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .search-bar button:hover {
    background: linear-gradient(45deg, #e83cff, #2f6bb3); /* Darker gradient on hover */
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3); /* Increase shadow on hover */
  }
  
  @media (max-width: 768px) {
    .responsive-button {
        font-size: 0.9em;
        padding: 10px 20px; /* Slightly smaller padding */
    }
}

@media (max-width: 480px) {
    .responsive-button {
        font-size: 0.8em;
        padding: 8px 16px; /* Even smaller padding for very small screens */
    }
}
  .response-card {
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: #000;
  }
  
  .response-card .paper-bg {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 15px;
    opacity: 0.9;
  }
  
  .response-card p {
    font-size: 1.2em;
    line-height: 1.6em;
    padding: 20px;
  }    